        .cast-item {
            display    : flex;
            align-items: center;
        }

        .cast-item img {
            width        : 80px;
            height       : 80px;
            border-radius: 50%;
            object-fit   : cover;
            transition   : ease 0.25s;
        }

        .cast-item img:hover {
            transform: scale(1.2)
        }

        .main-video--title {
            background-color: #1e2027;
            border-radius   : 8px;

        }

        .cast-info {
            margin-left: 20px;
        }

        .cast-name {
            transition        : ease 0.25s;
            display           : -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow          : hidden;
            text-overflow     : ellipsis;
        }

        .cast-name:hover {
            background                  : linear-gradient(to right, #f4a347, #f64988);
            -webkit-background-clip     : text;
            -webkit-text-fill-color     : transparent;
            -webkit-box-decoration-break: clone;
        }

        .cast-titel {}

        /* -------------cốt truyện---------- */
        .storyline {}

        .storyline-info {
            word-spacing: 3px;
            color       : #bcbcbc;
            line-height : 30px;
            text-align  : justify;
        }

        .storyline-info--none {
            height            : 0;
            overflow          : hidden;
            transition        : 0.3s linear;
            -webkit-transition: 0.3s linear;
            -moz-transition   : 0.3s linear;
            -ms-transition    : 0.3s linear;
            -o-transition     : 0.3s linear;
        }

        .storyline-info--none.active {
            height: auto;
        }


        .storyline-block {
            cursor         : pointer;
            color          : #4785bf;
            text-align     : center;
            padding-top    : 18px;
            display        : flex;
            justify-content: center;
            align-items    : center;
        }

        .storyline-block i {
            font-size: 20px;
        }

        .storyline-block * {
            pointer-events: none;
        }

        .storyline-block:hover {
            color: #0486ff;

        }

        .photo-detail {
            padding: 20px 0;
        }

        .budget-item--titel {
            font-size                   : 20px;
            background                  : linear-gradient(to right, #f4a347, #f64988);
            -webkit-background-clip     : text;
            -webkit-text-fill-color     : transparent;
            -webkit-box-decoration-break: clone;
            display                     : -webkit-box;
            -webkit-line-clamp          : 1;
            -webkit-box-orient          : vertical;
            overflow                    : hidden;
            text-overflow               : ellipsis;
        }

        .budget-item--price {
            font-size: 15px;
            margin   : 8px 0;
        }

        .specs-item {
            display           : flex;
            /* justify-content: center; */
            align-items       : center;
            padding           : 10px 0;
        }

        .specs-item--titel {
            font-size                   : 18px;
            margin-right                : 16px;
            background                  : linear-gradient(to right, #f4a347, #f64988);
            -webkit-background-clip     : text;
            -webkit-text-fill-color     : transparent;
            -webkit-box-decoration-break: clone;
        }

        .specs-item--price {
            font-size: 15px;

        }

        .specs-item--price>a {
            /* font-size: 15px; */
        }

        .movie-img {
            height       : 352px;
            border-radius: 6px;
            overflow     : hidden;
        }

        .movie-img img {
            width     : 100%;
            height    : 100%;
            object-fit: cover;
        }


        .moive-info--name {
            color                          : #cacaca;
            font-size                      : 25px;
            font-weight                    : 500;
            transition                     : all 0.25s ease-in;
            /* background                  : linear-gradient(to right, #ff8a00, #ff2070);
            -webkit-background-clip        : text;
            -webkit-text-fill-color        : transparent;
            -webkit-box-decoration-break   : clone; */
            font-weight                    : 600;
            /* padding-top                 : 8px; */
            user-select                    : none;
            text-align                     : center;
            padding                        : 8px;
            width                          : 100%;
            background-color               : #1e2027;
            border-radius                  : 8px;
            background-size                : 200% 100%;
            background-image               : linear-gradient(to right, #234a71 0%, #101519 51%, #151d25 100%);
            transition                     : .5s;
        }

        .moive-info--name:hover {
            background-position: right center;
        }

        .moive-info--time {
            display    : flex;
            align-items: center;
        }

        .moive-info--icon {
            color        : #cacaca;
            font-size    : 14px;
            padding-right: 8px;
        }

        .list {
            list-style : none;
            padding-top: 6px;
        }

        .item {
            color      : #cacaca;
            font-size  : 14px;
            padding    : 4px 0;
            display    : flex;
            align-items: center;

        }

        .item>span {
            color        : #e0e0e0;
            font-size    : 15px;
            padding-right: 4px;
            width        : 88px;
            min-width    : 140px;
            max-width    : 100%;
        }

        .item>a {
            color: #82b0da;


        }





        /* -------------rating-------- */
        .rating {
            margin-top      : 20px;
            text-align      : center;
            padding         : 8px;
            width           : 100%;
            background-color: #1e2027;
            border-radius   : 8px;
            background-size : 200% 100%;
            background-image: linear-gradient(to right, #234a71 0%, #101519 51%, #151d25 100%);

            transition: .5s;

        }

        .rating:hover {
            /* background: #1b2d3c;
    background-size: 200% 100%;
    background-image: linear-gradient(to right,#234a71 0%,#101519 51%,#151d25 100%);
    transition: .5s; */
            background-position: right center;
        }

        .rating-heading {
            margin-bottom: 6px;
            font-size    : 18px;
            font-weight  : 400;
        }

        .rating-list {
            display        : flex;
            justify-content: center;
            align-items    : center;
            list-style     : none;
            margin-bottom  : 8px;
        }

        .rating-item {
            padding-right: 6px;

        }

        .rating-item--icon {

            color: #ff8a00;
        }

        .rating-titel {
            color      : #d8cbde;
            font-weight: 300;
        }

        .list-voucher {
            display        : flex;
            justify-content: center;
            align-items    : center;
        }